body {
    font-family: Arial, sans-serif;
    color: gray;
    background-color: #f5f5f5;
    margin: 0;
}

.left-nav {
    background-color: #333;
    color: #fff;
    width: 20%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    padding: 30px 0;
    text-align: center;
  }
  
  .big-link {
    display: block;
    font-size: 24px;
    margin-bottom: 20px;
    color: #fff;
    text-decoration: none; /* remove underline */
  }
  
  .small-link {
    display: block;
    font-size: 16px;
    margin-bottom: 15px;
    color: #fff;
    text-decoration: none; /* remove underline */
    margin-left: 10%;
    margin-right: 10%;
  }
  
  /* Add hover effects */
  .left-nav a:hover {
    background-color: #444;
    transition: background-color 0.3s ease-in-out;
  }
  
  /* Make the navigation bar slide in from the left on mobile devices */
  @media only screen and (max-width: 1220px) {
    .left-nav {
      transform: translateX(-100%);
      transition: transform 0.3s ease-in-out;
      width: 90%;
    }
    
    .show-nav {
      transform: translateX(0);
    }
  }


.container {
    max-width: 900px;
    padding: 32px;
    background-color: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin: 0 auto;
    margin-top: 7px;
}

h1,
h2,
p {
    margin: 0;
}

h1 {
    font-size: 48px;
    color: #e6e6e6;
    text-align: center;
}

h2 {
    font-size: 36px;
    margin-bottom: 8px;
    color: #555555;
}

p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 16px;
    color: #777777;
}

.blog-post {
    border-bottom: 1px solid gray;
    padding: 20px 0;
}

.post-date {
    text-align: right;
    font-style: italic;
    color: gray;
    font-size: 0.8em;
}

.headline-div {
    background-color: #333333;
    padding-top: 16px;
    padding-bottom: 16px;
}

.nav-toggle {
    position: fixed;
    top: 25px;
    left: 20px;
    z-index: 1;
    display: none;
    width: 40px;
    height: 40px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  .bar {
    width: 100%;
    height: 4px;
    margin: 6px 0;
    background: #e6e6e6;
    transition: transform 0.3s ease-in-out;
    display: none;
  }
  
  /* Change the appearance of the button when the navigation bar is out */
  .show-nav .bar:first-child {
    transform: rotate(45deg) translate(5px, 5px);
  }
  
  .show-nav .bar:nth-child(2) {
    opacity: 0;
  }
  
  .show-nav .bar:last-child {
    transform: rotate(-45deg) translate(7px, -7px);
  }

@media only screen and (max-width: 1600px) {
    .left-nav {
        width: 320px;
    }

    .container {
        margin-left: 320px;
    }
}


@media (max-width: 1220px) {

    .nav-toggle {
        display: block;
      }

    .bar {
        display: block;
    }

    .container {
        padding: 0;
    }

    .blog-post {
        margin-left: 15px;
        margin-right: 15px;
    }

    .container {
        width: 95%;
        margin: auto;
        margin-top: 5px;
    }
}